.loginbutton {
  text-align: right;
}
<<<<<<< HEAD


.icons{
  display: inline;
  margin-left: 70px;
}

.center-icon{
  display: inherit;
  margin: 35%;
}
=======
>>>>>>> 166b40901f3aa6923090f7cad53aa5dc7ec00128
