.signupbutton {
  text-align: right;
  margin-top:-15px;
}
.loginbutton {
  text-align: right;
}

.icons{
  display: inline;
  margin-left: 70px;
}

.center-icon{
  display: inherit;
  margin: 35%;
}
