.signupbutton {
  text-align: right;
  margin-top:-15px;
}
.loginbutton {
  text-align: right;
}

.flash {

    background-color: white;
    animation-name: example;
    animation-duration: 40s;
    animation-iteration-count: infinite;

}

/* The animation code */
@keyframes example {
    0%   {color: lightblue;}
    15% {color: blue;}
    25%  {color: orange;}
    35%  {color: yellow;}
    50%  {color: blue;}
    75% {color:lightblue;}
    100% {color:black;}

  }
