


#heading{color:blue;
  font-family: "Impact";
  font-size: 20px

#heading{color:blue;
  font-family: "Times New Roman", Times, serif;

}

#boom
{
  color:white;
  background-color:black;
  font-size:30px;

}



@keyframes example {
    from {background-color: white;}
    to {background-color: blue;}
}


div {

    background-color: white;
    animation-name: example;
    animation-duration: 0s;
}

/* The animation code */
