<<<<<<< HEAD
#heading{color:black;
  font-family: "Times New Roman", Times, serif;

}
.head h1{
  font-size:100px;
=======



#heading{color:blue;
  font-family: "Impact";
  font-size: 20px

#heading{color:blue;
<<<<<<< HEAD
  font-family: "Times New Roman"fantasy;
>>>>>>> 98a820560b07b245cb6acf42de3c4d4345cbd65c}
=======
  font-family: "Times New Roman", Times, serif;

>>>>>>> f90da05d8cacb04e83696abfa9bed18318e4f2be
}
>>>>>>> 70b4d9ce3e4269ddc3a8183d19dddac242e0c473

#boom
{
  color:white;
  background-color:black;
  font-size:30px;

}



@keyframes example {
    from {color: white;}
    to {color: blue;}
}


#heading {

    background-color: white;
    animation-name: example;
    animation-duration: 40s;
    animation-iteration-count: infinite;
}

/* The animation code */
@keyframes example {
    0%   {color: lightblue;}
    15% {color:blue;}
    25%  {color: orange;}
    35%  {color: yellow;}
    50%  {color: blue;}
    75% {color:lightblue;}
    100% {color:black;}
}
