#heading{color:black;
  font-family: "Times New Roman", Times, serif;

}
.head h1{
  font-size:100px;
}
#boom
{
  color:white;
  background-color:black;
  font-size:30px;

}



@keyframes example {
    from {color: white;}
    to {color: blue;}
}


#heading {

    background-color: white;
    animation-name: example;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    margin-bottom:500px;
}

/* The animation code */
@keyframes example {
    0%   {color: lightblue;}
    15% {color:blue;}
    25%  {color: orange;}
    35%  {color: yellow;}
    50%  {color: blue;}
    75% {color:lightblue;}
    100% {color:black;}
}
